<!doctype html>
<html lang="{{ site.lang | default: 'en-GB' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% include head-custom.html %}
</head>
<body>
  <header>
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <p>{{ site.description | default: site.github.project_tagline }}</p>
  </header>
  <div class="banner-container">
    <div class="banner">
      <div><a href="{{ '' | relative_url }}" class="button"><strong>Home</strong></a></div>
      <a class="github" target="_blank" href="{{ site.github.owner_url }}"></a>
    </div>
  </div>
  <aside>
    {% assign is_home_page = false %}
    {% if page.path == 'index.html' %}
    {% assign is_home_page = true %}
    {% else %}
    {% assign page_path_parts = page.path | split: '/' %}
    {% assign first_parts = page_path_parts | first | split: '-' %}
    {% if page_path_parts.size == 2 and first_parts.first == 'page' and page_path_parts.last == 'index.html' %}
    {% assign is_home_page = true %}
    {% endif %}
    {% endif %}

    {% if is_home_page %}
    <strong><a href="{{ '' | relative_url }}">Home</a></strong>
    {% else %}
    <a href="{{ '' | relative_url }}">Home</a>
    {% endif %}
    {% assign category_url = '' | relative_url %}
    {% for category in page.categories %}
    {% assign category_url = category_url | append: '/' | append: category %}
    / <a href="{{ category_url }}">{{ category }}</a>
    {% endfor %}
    {% unless is_home_page %}
    / <strong><a href="{{ page.url | relative_url }}">{{ page.title }}</a></strong>
    {% endunless %}
  </aside>
  <section>
    <nav>
      <ul></ul>
    </nav>
    <article>
      {% unless page.hide_title %}
      <h2>{{ page.title }}</h2>
      {% endunless %}
      {% if page.date %}
      <p class="post-timestamp">Posted on {{ page.date | date: '%A, %-d %B %Y' }}</p>
      {% endif %}
      {{ content }}
    </article>
  </section>
  <footer>
    <p><small>
        {% if site.github.is_project_page %}<a target="_blank" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>'s blog<br>{% endif %}
        Hosted on <a target="_blank" href="https://pages.github.com/">GitHub Pages</a> &mdash; Theme by <a target="_blank" href="https://twitter.com/mattgraham">mattgraham</a>
    </small></p>
  </footer>
</body>
</html>